@model List<ArticleDto>

@{
    ViewData["Title"] = "Coders'Blog - Anasayfa";
}

<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Coders'Blog Anasayfasına Hoşgeldiniz.</h1>
            <p class="lead mb-0">İmkansız diye bir şey yoktur, hayatta her şey mümkün sadece nasıl yapacağını
                bileceksin.</p>
        </div>
    </div>
</header>

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">

            <!-- Blog post-->
            @foreach (var article in Model)
            {
                <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted">@article.CreatedDate.ToShortDateString()</div>
                        <h2 class="card-title">@article.Title</h2>  
                        <p class="card-text">@article.Content.Substring(0,220)</p>
                        <a class="btn btn-primary" asp-action="Detail" asp-controller="Home" asp-route-id="@article.Id">Devamı →</a>
                    </div>
                </div>
            }

            <!-- Pagination-->
            <nav aria-label="Pagination">
                <hr class="my-0" />
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"
                            aria-disabled="true">İleri</a></li>
                    <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                    <li class="page-item"><a class="page-link" href="#!">15</a></li>
                    <li class="page-item"><a class="page-link" href="#!">Geri</a></li>
                </ul>
            </nav>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Makalelerde Ara</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..."
                            aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Ara</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Kategoriler</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            @await Component.InvokeAsync("HomeCategories")
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Özlü Sözler</div>
                <div class="card-body">"Açıklamalarla vaktini harcama. İnsanlar sadece duymak istediklerini duyarlar."-
                    Paulo Coelho
                </div>
            </div>
        </div>
    </div>
</div>